@{
    ViewData["Title"] = "Home Page";
}

@*<body style="background-image: url('background.jpg'); background-color: cornsilk">*@
<body style="background-image: url('/Images/background.jpg'); background-size: cover">
    <div>
        <div class="text-center">
            <h1 class="display-2">Welcome to Memorizer</h1>
            <h2 class="display-4">Your Digital Flash Cards App</h2>
        </div>
    </div>
</body>

