@{
    ViewData["Title"] = "Home Page";
}

@*<body style="background-image: url('/Images/background.jpg'); background-size: cover">*@
<body>
    <div>
        <div class="text-center">
            <h1 class="display-2 text-primary pb-5">Welcome to MemoRiser</h1>
            <h2 class="display-3 text-secondary pb-5">Your Digital Flash Cards App</h2>
            <h3 class="display-4">
                Study using this app and watch your knowledge and confidence rise!
            </h3>
        </div>
    </div>
</body>

