@{
    ViewData["Title"] = "Home Page";
    int? rightBoundary = User.Identity.Name?.IndexOf('@');
    string userName = rightBoundary != null ?
        User.Identity.Name.Substring(0, (int)rightBoundary) : null;
    string welcomeMessage = "Welcome to MemoRiser";
    welcomeMessage = userName != null ? welcomeMessage + $", {userName}!" : welcomeMessage + "!";
}

<body>
    <div class="container text-center">
            <div class="display-3 text-primary pb-2">
                @welcomeMessage
            </div>
        <div class="row">
            <img src="/Images/TraditionalLibrary.jpg" class="img-fluid pb-2" alt="Alternate Text" />
        </div>
        <div class="display-4 mb-2 text-center">Your Digital Flash Cards App</div>
        <div class="h4">Study using this app and watch your knowledge and confidence Rise!</div>
    </div>
</body>