@{
    ViewData["Title"] = "Home Page";
}
<body>
    
    <div style="background: url(../../wwwroot/Images/background.jpg);">
        @*<img src="~/Images/background.jpg" /> not sure how to place the background image yet*@
        <div class="text-center">
            <h1 class="display-2">Welcome to Memorizer</h1>
            <h2 class="display-4">Your Digital Flash Cards App</h2>

        </div>
    </div>

</body>
